extends partials/left-nav

block content
    - if (successMsg)
        .row
            .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
            #success.alert.alert-success= successMsg
    - if (!successMsg)
        .row
            #success.no-message
     each val in products
        .row
          - for (var i = 0; i < 3; i++)
            .col-sm-4.shoppingcards
              .card
                  - var url= val[i].imagePath;
                  img(class="card-img-top img-responsive" src=url alt="Card image cap")
                  .card-body
                    a(href='/add-to-cart/'+val[i]._id class="btn btn-dark text-white" role="button") Add to Shopping Cart
                    h3(class="card-title")= val[i].title
                    .price= "$" + val[i].price + ".00"
                    p(class="card-text")= val[i].description
                